*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container{
    overflow: hidden;
}
.nav{
    overflow: hidden;
}
.navbar-nav{
    align-items: end;
}
.navbar-collapse{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-link{
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    color: black;
    font-weight: 500;
}


.free-guide-btn{
    background-color: rgb(51, 168, 156);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 9px 14px;
    text-decoration: none;
}
.free-guide-btn:hover{
    background-color: darkslategrey;
}
.hero{
    height:fit-content;
    background-color:rgb(240, 240, 234);
    margin: 0px -2px;
 
    
}

.s1{
    color: grey;
    padding-top: 40px;
 
}


.hero .container-left h1{
    font-size: 70px;
    color: rgb(51, 52, 97);
    font-weight: bolder;

}

.s2{
    line-height: 30px;
    font-size: large;
}

.container-right img{
    height: 140%;
    width: 70%;
    margin-top: -50px;
    
}
.img{
    z-index: -1;
    justify-content: end;
}
.container-right .rate{
    z-index: 1;
    background-color:white;
    height:fit-content;
    width: fit-content;   
    margin-left: 10%; 
    padding: 15px;
}


.rate1 p{
    margin-top: -10px;
    font-size: small;
}
.rate1 h4{
    font-weight:bolder;
    color: rgb(51, 52, 97);
}

.shape{
    padding-left: 40px;
    padding-top: 40px;
}
.introduction, .blog, .free-guide .booking .footer{
    height:fit-content;
    background-color: whitesmoke;
    margin: 0px -2px;
}

.intro-cont-left h1, .reviews h1, .blog h1, .free-guide h1{
    color: rgb(51, 52, 97);
    font-size: 50px;
    font-weight: bold;
    
}

.intro-cont-right p{
    font-size: 20px;
    color: rgb(70, 70, 70);
}


.intro-cont2 i{
    font-size: 55px;
}
.intro-cont2 p{
    font-size: 17px;
    font-weight:400;
    padding-right: 20px;
}
.intro-cont2 h4{
   font-weight: bold;
}

.reviews{
    height:fit-content;
    background-color:rgb(240, 240, 234);
    margin: 0px -2px;
    
}
.r-head h1{
    padding-right: 55%;
}
.card{
    cursor: pointer;
}
.card:hover{
    box-shadow: 0px 3px 12px 0px rgb(95, 95, 95);
}


.review-cont .rev1 p{
    font-size: 25px;
    color: rgb(88, 84, 112);
}
.review-cont .rev1 h3{
    color: rgb(69, 65, 88);
   
}
.review-cont .rev1 img{
  
    height: 70px;
    width: 70px;
    
} 

.b-head h1{
    padding-left: 270px;
    padding-right: 270px;
}
.blog .card-body h5{
    font-weight: bold;
    font-size: 23px;
    color: rgb(51, 52, 97);
}
.blog .card-body p{
    color: rgb(88, 84, 112);
}

.free-guide .para1{
    font-size: 21px;
    color: rgb(88, 84, 112);
}
.free-guide .para2{
    font-size: 17px;
    color: rgb(88, 84, 112);
}
.guide-img{
    height: 150%;
    width: 75%;
}
.free-guide .symb{
    background-color: rgb(51, 168, 156);
    z-index: 1;
    height: 105px;
    width: 105px;
    color: white;
    border-radius: 50%;
    align-items: center;
    margin-left: 75%;
}
.free-guide .symb h5{
    font-size: 15px;
}
.free-guide img{
    z-index: -1;
    margin-top: -60px;
}
.book{
    background-color: rgb(240, 240, 234);
    height: fit-content;
    border-radius: 30px;
}
.book:hover{
    box-shadow: 0px 3px 12px 0px rgb(95, 95, 95);
}
.book h1{
    font-weight: bold;
    color: rgb(51, 52, 97);
}
.book img{
    height: 100%;
    width: 100%;
    /* margin-top: -20px; */
    margin-left: 10px;
    border-bottom-right-radius: 30px;

    
}
.book-img{
    z-index: -1;
    text-align: end;
}

.book p{
    color: gray;
    font-size: larger;
    padding: 10px 0;
}
.meet img{
    height: 2px;
    width: 2px;
    z-index: 1;
}
.notify{
    background-color: rgb(240, 240, 234);
    margin: 0px -2px;
}
.notify p{
    font-size: large;
    color: rgb(88, 84, 112);
}
.notify h3{
    font-weight: bold;
    color: rgb(51, 52, 97);
}
.foot-p{
    color: rgb(216, 216, 216);
    
}
.foot-col a{
    text-decoration: none;
    color: rgb(168, 167, 167);
}
.foot-col li{
    list-style: none;
    padding-top: 10px;
}
